.home-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-page h1 {
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.home-page p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.home-page p a {
  line-height: 1.8px;
  font-size: 1.05rem;
  font-weight: 500;
}